# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Django
*.pot
*.sqlite3
*.db
runtime/db.sqlite3

# Environment
.env
.venv/
venv/

# Logs
*.log
runtime/logs/

# Uploaded/media files
runtime/media/

# Static on runtime
runtime/staticfiles/

# IDEs and Editors
.vscode/
.idea/
*.swp

# OS-specific
.DS_Store
Thumbs.db
